:root{
--branco: #fff;
--azul-claro: #DFE3E5;
--vermelho-forte: #B72E2E;
--cinza-escuro-cabecalho:#2B2C2F;
--preto-transparente :#0f0f0fdc;
--cinza-escuro:#333;
--cinza-claro:  #eeeeee;;
--cinza-medio: #D9D9D9;
--verde: #2aac3b;
--azul-escuro: #243971;
--box-shadow: #333333b2;
--azul: #0071bc;
--cinza: #333;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
   background-color: var(--cinza-claro);
   background-image: url(../img/fundo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
   
}
.container {
    padding-right: 1.5%;
    padding-left: 1.5%;
}
.cabecalho{
    padding: 2px;
    background-color:  var(--cinza-escuro-cabecalho);
    position: sticky;
    top: 0;
    font-weight: 300;
    display:flex;
    justify-content: space-around;
    z-index: 30;
    box-shadow: 1px 1px 10px var(--box-shadow);
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.cabecalho__logotipo {
    display: flex;
    justify-content: center;
}
.cabecalho__logotipo--logo img {
    width: 190px;
}

.barra__navegacao {
    display: flex;
    justify-content: center;
}

.barra__navegacao--list{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra__navegacao--list__item{
    font-size: 1.2rem;
    margin-left: 10px; 
    color: var(--cinza-claro);
    text-align: center;
}

.banner__home {
    height: 78vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.box__text {
    width: 60%;
    background-color:var(--preto-transparente);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: auto;
    animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    animation-delay: 0.4s;
    
}
@keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }
  
.box__text--titulo{
    background-color: var(--azul);
    border-radius: 5px;
    position: relative;
    bottom: 40px;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--cinza-claro);
    text-align: center;
    box-shadow: 1px 1px 5px var(--preto-transparente);
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.7s;
}
@keyframes slide-in-top {
    0% {
      transform: translateY(-300px);
      opacity: 0;
    }
    50%{
        transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.box__text--descricao{
    font-size: 1.2rem;
    position: relative;
    bottom: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--branco);
    line-height: 1.3;
    animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-delay: 1.2s;
}
@keyframes flip-horizontal-top {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  
.linha__divider{
  margin-top:50px;
  margin-bottom:50px;
    width: 200px;
    height: 3px;
    background-color: var(--branco);
    border-radius: 5px;
}
.titulo{
    background-color: var(--azul);
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 25px;
    z-index: 9;
    font-weight: 300;
    border-radius: 10px;
    max-width: 300px;
    font-size: 2rem;
    text-align: center;
    color: var(--cinza-claro);
}
.box__projetos {
    padding: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--preto-transparente);

}

.card__project {
    background-color: rgba(63, 63, 63, 0.473);
    width: 320px;
    height: 450px;
    display: flex; 
    padding: 10px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition:  1s;
    margin-top: 10px;
    box-shadow: 1px 2px 10px #000;
}
.card__project:hover {
    transform: translateY(-10px);
    transition: transform .5s;
}
.card__project--imagem{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--box-shadow);
}

.card__project--imagem img{
    width: 100%;
    border-radius: 10px;
}
.card__text{
    width:100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 
}
.card__text--titulo{
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 300;
}
.card__text--descricao{
    max-width: 350px;
    color: var(--branco);
    font-size: 1.2rem;
    text-align: center;
}
.icon__view--html{
  color:#f36518;
}
.icon__view--css{
  color:#4c6ef5;
}
.icon__view--js{
  color:#d3bd2d;
}
.icon__view--bt4{
  color:#553a7d;
}

.box__tecnologias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;

  
} 
.box__tecnologias p{
  font-size: 0.9rem;
  color: var(--cinza);
  font-weight: 500;
  
} 

.box__tecnologias--usadas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
    width: 150px;
    padding: 8px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--branco);
    background-color: var(--azul);
    border-radius: 10px;
    transition: .4s;
}
.btn:hover {
   transition: .5s;
    box-shadow: 1px 1px 5px var(--box-shadow);
}
.box__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  i.menu--icon {
      display: none !important;
      color: var(--cinza-claro);
      text-align: center;
      margin: 10px auto;
  }
  
  .box__sobre{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    background-color: var(--preto-transparente);
  }

  .box__sobre--text{
    max-width: 500px;
    color: var(--branco);
  }
  .box__sobre--text h2{
    font-size: 1.5rem;
    font-weight:500;
    margin:20px;
    margin-left:0;
    color: var(--cinza-claro);
    padding:5px;
    background-color: var(--azul);
    border-radius:8px ;
   max-width: 200px;
  }
  .box__sobre--text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .box__sobre--img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: linear-gradient(#CA1D7E, #E35157,#F2703F);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box__sobre--img img{
    width: 285px;
    height: 285px;
    border-radius: 150px;
  }

  .box__skills{
    display: flex;
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--preto-transparente);
    border-radius: 15px;
  }
  .card__skills{
    display: flex;
    border: 3px solid var(--cinza-claro);
    background-color:var(--cinza-claro);
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 20px;
    width: 360px;
    color: var(--cinza);
    height: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition: .5s;
  }
  .card__skills:hover {
    background-color:var(--preto-transparente);
    color: var(--cinza-claro);
    border: 2px solid var(--azul);
    box-shadow: 1px 1px 5px dodgerblue;
  }
 

  .icons__skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .card__skills--titulo{
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }

  .box__icons--skills{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .seo{
    justify-content: space-evenly;
  }
  .text__skills {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .img__skills{
    width: 60px;
  }
  .img__skills--adobe{
    width: 55px;
    padding-top: 5px;
  }

  .text__skills--info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    text-align: left;
    padding: 20px;
    color: var(--cinza-claro);
    width: 100%;
  }

 
  .box__contato{
    background-color: var(--preto-transparente);
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
  }
  .text__contact{
    font-weight: 500;
    padding: 10px;
  }

  .redes__sociais{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
  }
  .icon__redes{
    display: flex;
    flex-direction: column;
  }
 
  .box__rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cinza-claro);
    font-weight: 300;
    padding-bottom: 20px;
  }

/* ===================== DESKTOP MEDIA QUERIE =====================================*/
 @media screen and (min-width: 769px) and (max-width: 992px){
   .box__text--titulo{
     font-size: 2.2rem;
   }
   .box__text--descricao{
     font-size: 1rem;
   }
   .box__sobre--text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
   }
   .box__sobre--text h2{
    font-size: 1.5rem;
    font-weight:500;
    margin: 0 auto;
    color: var(--cinza-claro);
    padding:5px;
    background-color: var(--azul);
    border-radius:8px ;
    max-width: 200px;
    text-align: center;
  }
  .box__skills{
    flex-direction: column;
  }
 }
 .linha__divider{
  margin-top:80px;
  margin-bottom:80px;
    width: 200px;
    height: 3px;
    background-color: var(--branco);
    border-radius: 5px;
}

/* ===================== DESKTOP MEDIA QUERIE =====================================*/
/* ===================== TABLET MEDIA QUERIE =====================================*/
@media screen and (min-width: 481px) and (max-width: 768px){
  .cabecalho{
    flex-direction: column;
    align-items: center;
  }
  .cabecalho__logotipo--logo img{
    width: 160px;
  }
  .banner__home{
    justify-content: center !important;
  }
  .box__text{
    width: 100%;
  }
  i.menu--icon {
    display: block !important; 
}
.menu--item {
    display: none !important;
}
.barra__navegacao--list__item
.barra__navegacao--list{  
    display: flex;
   justify-content: space-between;
    align-items: center;
}
  .barra__navegacao--list__item{
    font-size: 1.2rem !important;
    width: 280px;
  }
  .box__text--titulo{
    font-size: 2.2rem;
  }
  .box__text--descricao{
    font-size: 1rem;
  }
  .box__sobre--text p{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   text-align: center;
   line-height: 20px;
  }
  .box__sobre--text h2{
   font-size: 1.5rem;
   font-weight:500;
   margin: 0 auto;
   color: var(--cinza-claro);
   padding:5px;
   background-color: var(--azul);
   border-radius:8px ;
   max-width: 200px;
   text-align: center;
 }
}
.text__skills--info{
  text-align: center;
}
.box__contato{
  width: 100%;
}

/* ===================== DESKTOP MEDIA QUERIE =====================================*/
  @media screen and (max-width: 480px){
    .cabecalho{
      flex-direction: column;
      align-items: center;
    }
    .cabecalho__logotipo--logo img{
      width: 160px;
    }
    .banner__home{
      justify-content: center !important;
    }
    .box__text{
      width: 100%;
    }
    i.menu--icon {
      display: block !important; 
  }
  .menu--item {
      display: none !important;
  }
  .barra__navegacao--list__item
  .barra__navegacao--list{  
      display: flex;
     justify-content: space-between;
      align-items: center;
  }
    .barra__navegacao--list__item{
      font-size: 1.2rem !important;
      width: 280px;
    }
    .box__text--titulo{
      font-size: 2.2rem;
    }
    .box__text--descricao{
      font-size: 1rem;
    }
    .box__sobre--text p{
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     text-align: center;
     line-height: 20px;

    }
    .box__sobre--text h2{
     font-size: 1.5rem;
     font-weight:500;
     margin: 0 auto;
     color: var(--cinza-claro);
     padding:5px;
     background-color: var(--azul);
     border-radius:8px ;
     max-width: 200px;
     text-align: center;
   }
  
  .text__skills--info{
    text-align: center;
  }
  .box__contato{
    width: 100%;
  }
  .box__sobre--img img{
    width: 285px;
    height: 285 px;
    border-radius: 150px;
  }
  .linha__divider{
    margin-top:80px;
    margin-bottom:80px;
      width: 200px;
      height: 3px;
      background-color: var(--branco);
      border-radius: 5px;
  }
  }