@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #2e2e2e;
}

.container-nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #222222;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.logo {
    padding: 10px;
    width: 190px;
}
.menu-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-nav ul {
    width: 100%;
   display: flex;
   justify-content: center;
    padding:0px;
    margin:0;
}
.menu-nav ul li {    
    padding:5px;
    list-style: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #f2f2f2;
}
.container-redes-sociais {
    width: 20%;
    display: flex;
    justify-content: center;
}

.home-section {
    margin: 0;
    height: 89vh;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home-section p {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

.banner-title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.banner-title>h1 {
    margin: 0;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
}

.banner-title>h3 {
    margin: 0;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    letter-spacing: 2px;
}

span.ScrollDown img {
    width: 50px;
    animation: pulsate-fwd 1s ease-in-out infinite both;
    opacity: 1;
}

@keyframes pulsate-fwd {
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}

.projects {
    margin: 0;
    height: 88vh;
}

.box-projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects-items {
    width: 100%;
}

.Imagebox {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Imagebox img {
    width: 100%;
    border-radius: 2px;
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.Imagebox:hover img {
    transform: scale(1.1);
}

.Imagebox .textBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.575);
    text-align: center;
    padding: 30px;
    transition: all .8s;
    font-family: 'Montserrat';
    font-weight: 300;
}

.Imagebox:hover .textBox {
    opacity: 1;
}

.Imagebox .textBox h2{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 100;
}

.Imagebox .textBox a {
    display: block;
    width: 150px;
    background: #6fc5e9;
    border: 1px solid #59afd4;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    margin: 16px auto 0;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
/* Estilo - Galeira Hover */

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
    cursor: pointer;
    border-radius:15px;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
