body {
    font-family: 'Roboto', sans-serif;
}

.bgdark {
    background-color: #1a3b66;
}


.logotipo {
    width: 250px;
}

.teste {
    text-align: center;
    font-weight: 700;
    color: #1a3b66;
}

.title_modal {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #1a3b66;
}

.card {
    border: 2px solid #1a3b66;
}

.bg-blue {
    background-color: #1a3b66;
    color: #1a3b66;
}

.bg-white {
    color: #1a3b66;
}

h1#titulo_ {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 2em;
}

.titulo_ {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #1a3b66;
}

.titulo_white {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 2em;
}

.cabecalho {
    animation: cabecalho 2s;
}

@keyframes cabecalho {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bannerimg {
    animation: animateimg 1.5s;
}

@keyframes animateimg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.titulo_mb {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    color: #1a3b66;
    font-size: 3em;
    border-radius: 35px;
}

.cardss {
    border-radius: 35px;
}

p {
    font-size: 1.2em;
}

.btncolor {
    border: 2px solid #1a3b66;
    color: #1a3b66;
    font-weight: 600;
}

.btncolor2 {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 600;
}

.btncolor2:hover {
    background-color: #ffffff;
    color: #1a3b66;
}

.btncolor:hover {
    background-color: #1a3b66;
    color: #ffffff
}

.box {
    width: 500px;
    height: 450px;
    background-color: #1a3b66;
    border-radius: 30px;
   margin: auto;
  position: relative;
  top: 120px;
}
.container-painel {
    margin: auto;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.btn-logout {
    border: 2px solid #1a3b66;
    padding: 5px 30px;
    letter-spacing: 3px;
    background-color: #1a3b66;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
}

/* ################################################### */

/* ////////////////// MOBILE MOBILE ////////////////// */

/* ################################################### */

@media (max-width: 768px) {
    .logotipo {
        width: 120px;
    }
    h1#titulo_ {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .title_modal {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }
    .titulo_ {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #1a3b66;
        font-size: 1.5em;
    }
}